html {
    background-color:midnightblue
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
    color:black;
    border-top: 10px solid darkblue;
    background-color: lightgray;
}
h1 {
    font-size: 3em;
    color: darkblue;
    margin: 0;
    line-height: 2em;
}

h2 {
    font-size: 2em;
    color: darkblue;
    margin: 0;
    line-height: 2em;
}

article {
    line-height: 1.4em;
}

#blog {
    border-top: 1px solid darkblue;
}

.blog-post {
    border-bottom: 1px solid darkblue;

}